.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--color-bg-dark);
  color: var(--color-text);
  position: absolute;
  top: 0;
  z-index: 1000;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
  margin-left: 20px;
}

.nav-link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  background-color: var(--color-primary);
}

.btn{
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--color-primary);
  color: var(--color-bg-dark);
}