.profile-card {
  background: transparent;
  padding-top: 4rem;
  text-align: center;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 600px;
  flex-wrap: wrap;
}


.profile-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-heading);
  margin-bottom: 0.3rem;
}

.profile-title {
  font-size: 1rem;
  color: var(--color-secondary);
  font-weight: 600;
}

.profile-description {
  margin-top: 0.8rem;
  font-size: 0.95rem;
  color: var(--color-text);
  line-height: 1.4;
}
.profile-wave-title {
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-heading);
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2rem;
}

.profile-wave-letter {
  display: inline-block;
   /* leggero spacing */
}
.actions {
  flex:1;
  display: flex;
  flex-direction: column;
 
  align-items: stretch;
  justify-content: center;
  padding-bottom: 1.5rem;
  
}
.col1{
  background-color: var(--card-bg);
  flex:6;
  padding: 2rem;
  border-radius: 20px 0 20px 20px ;
  box-shadow:
    -2px 0 0 var(--shadow-orange), /* sinistra */
    0 -2px 0 var(--shadow-orange), /* top */
    2px 0 0 var(--shadow-orange),  /* destra */
    0 2px 0 var(--shadow-orange);  /* bottom */
}
.col2{
  
  display: flex;
  flex-direction: column;
  filter:drop-shadow(2px 2px var(--shadow-orange))drop-shadow(0px -1px var(--shadow-orange));
  gap: 2rem;
}
.col1, .col2 {
  box-sizing: border-box;
}

.profile-card-actions{
  display: flex;
  min-height: 60%;
  flex-direction: column;
  justify-content: center;
  
  background-color: var(--card-bg);
  border-radius: 0 20px 20px 0px ;
  max-height: 400px;
    box-shadow:
    0 -2px 0 var(--shadow-orange),  /* top */
    2px 0 0 var(--shadow-orange),   /* right */
    0 1px 0 var(--shadow-orange);   /* bottom */
  padding-bottom: 2rem;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
  overflow: hidden;
  
}





.actions .animated-btn {
  flex: 1 1 50%  ;
  min-width: 80px;
  border-radius: 0;
  border: 0;
  margin-left: 1px;
  
  padding: 0.5rem 0.5rem;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: var(--radius-md);
}



@media (max-width: 640px) {
  .actions .animated-btn {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
  }

  .col1, .col2 {
    flex: 1 1 100%; /* 👈 prendono tutta la larghezza su mobile */
  }

  .col2 {
    min-height: auto;
    padding-top: 1rem;
  }

  .profile-card-actions {
    max-height: none;
  }
}
