.animation-wrapper {
  width: 100%;
  height: 100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.sphere-animation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 2px;
  stroke: rgba(80,80,80,.35);
  backface-visibility: hidden;
}

.sphere {
  position: relative;
  width: 100%;
  height:100%;
  overflow: visible;
}


@media (max-width: 1440px) and (min-width: 1025px) {


  .sphere path{
    stroke-width: 1px;
  }


}
/* Tablet - layout a colonna */
@media (max-width: 1024px) and (min-width: 769px) {  


  .sphere path {
    stroke-width: 1px;
  }
}

/* Mobile - layout a colonna */
@media (max-width: 768px) and (min-width: 481px){

  .sphere path {
    stroke-width: .7px;
  }
}

/* Mobile configuration - schermi piccoli */
@media (max-width: 480px) {

  

  .sphere path {
    stroke-width: .4px;
  }
}



