.timeline-toggle-group {
  display: flex;
  border: 2px solid var(--color-primary);
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--color-bg-secondary);
}
.timeline-toggle {
  position: relative;
  flex: 1;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: none;
  z-index: 1;
}

.timeline-toggle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-link);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.timeline-toggle:hover::after {
  transform: scaleX(1);
}



.timeline-toggle:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-bg-secondary);
}

.timeline-toggle.active {
  background-color: var(--color-primary);
  color: var(--color-bg-secondary);
}